body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: #abc4ff;
}
.navbar-brand{
    color: #ffffff;
}
.header{
    margin-bottom: 140px;
}


h3 {
    text-align: center;
    color: #89c2f7;
}

.container {
    border: 3px solid #bde0fe7d;
    border-radius: 4px;
    padding: 10px;
    width: 35%;
    margin-bottom: 50px;
}

.btn {
    margin-top: 7px;
    inline-size: -webkit-fill-available;
    background-color: #89c2f7;
    border-color: #89c2f7;
}
a {
    color: #ffff;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}